{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | Hotel Management</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Hotel Management System</h1>
    </header>

<nav>
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'room_list' %}">Room List</a></li>
        <li><a href="{% url 'guest_list' %}">Guest List</a></li>
        <li><a href="{% url 'reservation_list' %}">reservation List</a></li>
        <li><a href="{% url 'room_create' %}">Create Room</a></li>
        <li><a href="{% url 'guest_create' %}">Create Guest</a></li>
        <li><a href="{% url 'reservation_create' %}">Create Reservation</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout'%}?next={% url 'login' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
</nav>


    <main>
        {% block content %}
        {% endblock %}
        {% block pagination %}
    {% if is_paginated %}
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link active" href="#">
                    {{ page_obj.number }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    {% endif %}
{% endblock %}

    </main>

    <footer>
        &#169; created by <a class="linky" href="{% url 'modd' %}">MODD</a>
    </footer>
</body>
</html>
